@import "../../styles/variables/variables.scss";

.header {
  width: 100%;
  height: 110px;

  &__wrapper {
    display: flex;
    align-items: center;
    max-width: $primary_content_with;
    margin: 0 auto;
    position: relative;
  }

  &__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: var(main-black-color);
  }

  &__link:not(:last-child) {
    margin-right: 10px;
  }

  &__links {
    display: flex;
  }

  &__loginButton {
    display: flex;
    border: none;
    background: transparent;
    color: $main-black-color;
  }

  &__linkIcon {
    padding-right: 8px;
  }
}
