@import "../../styles/variables/variables.scss";


.homePage {
    margin: 0 auto;

    &__firstBlock {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
        background-image: url('../../assets/imgHomePage/PlusMiniFirstBlock.png');
        background-repeat: no-repeat;
        background-position: 100px 100px;
        z-index: 100000;
    }

    &__firstBlock_img {
        background-image: url('../../assets/imgHomePage/slider\ 1.png');
        background-repeat: no-repeat;
        background-position: right;
        width: 100%;
        height: 480px;
    }

    &__firstBlock_left {
        height: 480px;
        width: 50%;
        background-color: $mail-dark-blue-color;
        background-size: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__firstBlock_text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        display: flex;
        text-align: left;
        color: $main-white-color;
        padding-bottom: 26px;
    }

    &__firstBlock_miniText {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: $main-white-color;
        padding-top: 15px;
    }

    &__secondBlock {
        display: flex;
        align-items: start;
        gap: 40px;
        width: 100%;
        max-width: $primary_content_with;
        margin: 0 auto;
        margin-top: 100px;
    }

    &__blockComment_text {
        width: 260px;
        padding: 20px 20px 40px 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: var(main-black-color);
        margin-top: -220px;
    }

    .homePage__imgOwl {
        margin-left: -41px;
        margin-top: -39px;
    }

    &__allGroupButtons {
        max-width: 880px;
        width: 880px;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 13.66px;
    }

    &__groupButtons {
        display: flex;
        align-items: center;
        gap: 16px;
        cursor: pointer;
    }

    &__titleGroupButtons {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: var(main-black-color);
    }

    &__contextGroupButtons {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        color: $main-secong-gray-color;
    }

    &__thirdBlock {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        max-width: $primary_content_with;
        height: 700px;
        padding-top: 94px;
        background-image:
            url(../../assets/imgHomePage/triangleThirstBlock.png),
            url(../../assets/imgHomePage/lineRightThirstBlock.png),
            url(../../assets/imgHomePage/lineLeftThirstBlock.png),
            url(../../assets/imgHomePage/plusThirstBlock.png);
        background-repeat: no-repeat;
        background-position: 110px 23px, 885px 23px, -14px 347px, 910px 458px;
    }

    &__thirdBlock_video {
        width: 780px;
        height: 436px;
        margin-left: auto;
        margin-right: auto;
    }

    &__thirdBlock_text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        display: flex;
        align-items: flex-start;
        color: $mail-dark-blue-color;
        margin-top: 116px;
        margin-bottom: 42.3px;
    }

    &__colorNunber_andText {
        display: flex;
        justify-content: space-between;
    }

    &__colorNumber {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 86px;
        line-height: 105px;
        display: flex;
        align-items: center;
        letter-spacing: 0.095em;
        color: transparent;
        background-image: linear-gradient(0deg, #F7941D, #27AAE1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__andText {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #000000;
    }
}